.services{
    margin-top: 60px;
    width: 100%;
    max-width: 100%;
    padding: 25px 0px;
    height: auto;
    padding: 25px 0px;
    text-align: center;
    overflow: hidden;
}
.services .row{
    margin: 35px 0px;
}
.services .box{
    width:100%;
    max-width: 100%;
    background-color: transparent;
    height: auto;
    padding: 5px;
    text-align: center;
    color:red;
    overflow: hidden;
    margin-top: 20px;
}
